<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div class="main " [ngClass]="{'dark-theme':isDarkTheme} ">
        <mat-sidenav-container class="side ">

            <div class="demo">
                <img class="arrowBox" src="assets/outline_arrow_circle_up_white_24dp.png" alt="hello" routerLink="/">
            </div>

            <div class="blockCircle">
                <!-- <mat-slide-toggle
          class="example-margin"[color]="color" [(ngModel)]="isDarkTheme">
            Dark Theme
      </mat-slide-toggle> -->
                <mat-slide-toggle class="example-margin" [color]="color" [(ngModel)]="isDarkTheme"
                    (change)="storeThemeSelection()">

                </mat-slide-toggle>
                <div _ngcontent-xcp-c43="" id="dot-con" class="mb-dots dot-cont" style="background-color: transparent;">
                    <div _ngcontent-xcp-c43="" id="one" class="circle inactive"></div>
                    <div _ngcontent-xcp-c43="" id="spacer" class="circle" style="background-color: transparent;"></div>
                    <div _ngcontent-xcp-c43="" id="two" class="circle active"></div>
                </div>

            </div>

            <div class="demo1">
                <img class="arrowBox1" src="assets/outline_arrow_circle_down_white_24dp.png" alt="hello"
                    routerLink="contact">
            </div>

        </mat-sidenav-container>
        <div class="content  ">
            <router-outlet class="mat-app-background"></router-outlet>
        </div>
    </div>
</body>

</html>